*.PrjPcbStructure

History/
*/History/

Project Logs*/
*/Project Logs*/

Project Outputs*/
*/Project Outputs*/

__Previews/
*/__Previews/
*.OutJob.tlh

Templates/
*/Templates/

*.PcbLib
*.LibPkg
*.SchLib

*.Lnk
*.Lock
*.~*

*.PcbDoc.htm
*.SchDoc.htm
*.Annotation
